body {
  background-color: grey;
  text: white;
}
.aligned-left-window {
  /* nothing required here atm */
}

.aligned-center-window {
  margin-left: 225px;
}

.aligned-right-window {
  margin-left: 225px;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.key {
  color: green;
}

.contrast {
  color: orange;
}

.buy-item {
  display: inline-block;
}
